.categoriesListWrapper {
  height: 90%;
  top: 5%;
}

ul.listOfAllCategories {
  list-style-type: none;
}

h3.categoriesListHeader {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  margin: 0.5rem 0;
}
