.addProductCategoryWrapper {
  width: 40%;
}

.singleRadioInput input {
  font-size: 60px;
}

.addProductCategoryForm,
.addProductForm,
.addCategoryForm {
  display: flex;
  align-items: center;
}

.addProductCategoryForm {
  justify-content: space-between;
  width: 50%;
  margin-left: 25%;
}

.addProductForm,
.addCategoryForm {
  flex-direction: column;
  margin-top: 1rem;
}
